<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<!--Ce trec la action imi trimite datele din form catre metoda
pe care o am in router pentru login/auth-->
<body>
    <form action="/login/auth" method="post">

        <label>Email:</label>
        <input type = "text" name = "loginEmail">

        <br/><br/>

        <label>Password:</label>
        <input type = "password" name = "loginPassword">

        <br/><br/>

        <input type = "submit" value = "Login">
    </form>
</body>
</html>