<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="col-3 p-0 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
            <!-- fixed sidebar -->
            <div class="navbar-dark bg-dark text-white position-fixed h-100 align-self-start w-sidebar">
                <h6 class="px-3 pt-3">Menu</h6>
                <ul class="nav flex-column flex-nowrap text-truncate">
                    <li class="nav-item">
                        <a class="nav-link active" href="/food">Add food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/main-page">View food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about-us">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">View orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>