<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/register/auth" method="post">
        
        <label> Last name: </label>
        <input type="text" name="registerLastName" required>

        <br/><br>

        <label> First name: </label>
        <input type="text" name="registerFirstName" required>

        <br/><br>

        <label> Email: </label>
        <input type="email" name="registerEmail" required>

        <br/><br>

        <label> Password: </label>
        <input type="password" name = "registerPassword" required>

        <br/><br>

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>