<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/register/auth" method="post">
        <label>Introduceti numele</label>
        <input type="text" name="NumeInregistrare" required>

        <br/><br>

        <label>Introduceti prenumele</label>
        <input type="text" name="PrenumeInregistrare" required>

        <br/><br>

        <label>Introduceti emailul</label>
        <input type="email" name="EmailInregistrare" required>

        <br/><br>

        <label>Introduceti parola</label>
        <input type="password" name = "ParolaInregistrare" required>

        <br/><br>

        <input type="submit" value="Inregistrare">
    </form>
</body>
</html>